.sidebar {
  display: none;
}

@media (min-width: 1024px) {
  .sidebar {
    background-color: white;
    height: 100%;
    border: .05rem solid black;
    display: block;
    width: 14rem;
  }
  .info {
    padding: .6rem;
    font-size: medium;
  }
}
